 <!DOCTYPE html>
<html lang="en">

<head>
	<title>blog</title>
	   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="/blog">AsBlogs</a>
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link" href="#">SIGN-IN</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">New-Post</a>
		</li>
	</ul>
		</nav>